/* for global css */
.client-header a {
    color: black;
    text-decoration: none;
    margin-left: 16px;
}


.client-header a:hover {
    color: orange;
}

body {
    margin: 0;
    padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    background-color: gray;
    text-align: center;
    margin-top: auto;
    padding: 8px;
  }
 .content-wrap{
    margin-bottom: 10px;
    margin-top: 10px;
 }